<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<h1>Student List</h1>
<div>
    <a href="/add">Add new student</a>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
        <th>Roast Level</th>
        <th>Origin</th>
        <th>is Decaf</th>
        <th>Stock</th>
        <th>Brew Method</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student: ${students}">
        <td th:text = "${Coffee.id}"></td>
        <td th:text = "${Coffee.Name}"></td>
        <td th:text = "${Coffee.Type}"></td>


        <td><a th:href = "@{/delete(id=${student.id})}">Delete </a></td>
    </tr>
    </tbody>
</table>
</body>
</html>