<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee List</title>
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</head>
<body>
<h1>Coffee List</h1>
<div>
    <a href="/add">Add new coffee</a>
</div>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
        <th>Roast Level</th>
        <th>Origin</th>
        <th>Is Decaf</th>
        <th>Stock</th>
        <th>Brew Method</th>
        <th>Delete Button</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="coffee: ${coffees}">
        <td th:text="${coffee.id}"></td>
        <td th:text="${coffee.name}"></td>
        <td th:text="${coffee.type}"></td>
        <td th:text="${coffee.size}"></td>
        <td th:text="${coffee.price}"></td>
        <td th:text="${coffee.roastLevel}"></td>
        <td th:text="${coffee.origin}"></td>
        <td th:text="${coffee.isDecaf}"></td>
        <td th:text="${coffee.stock}"></td>
        <td th:text="${coffee.brewMethod}"></td>
        <td><a th:href="@{/delete(id=${coffee.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
