* {
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --font-sans: 'Inter', system-ui, sans-serif;
    --primary-color: #FAFBFF;
    --tertiary-color: white;
    --secondary-color: black;
}

body {
    font-family: var(--font-sans);
    background: var(--primary-color);
    color: var(--color-text);
    margin: 0;
    padding: 2rem;
    display: grid;
    width: 100vw;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "sidebar main";
}

aside {
    grid-area: sidebar;
}

main {
    grid-area: main;
}