
a{
    color: black;
    text-decoration: none;
    background-color: var(--primary-color--);
    padding: 1px;
    border-radius: var(--radius);
    
}
h1{
    color: whitesmoke;
    font-style: oblique;
    background-color: var(--secondary-color);

}

body{
    background-color: var(--background-color--);
}


a:hover{
    background-color: #2A4D69; /* Golden yellow */
    color: #ffffff; /* White text */
    transition: 0.3s ease-in-out;
    border-color: rgb(132, 10, 10);
    border-radius: var(--radius);
    border-width: 2px;
}

label{
    display: block;
}