
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

:root{
    --primary-color-- : #6F4E37;
    --background-color--: #FFB22C;
    --table-content-bg-color--:#FFF085;
    --secondary-color:#7C444F;
    --radius:3px;


}
a{
    color: black;
    text-decoration: none;
    background-color: var(--primary-color--);
    padding: 1px;
    border-radius: var(--radius);
    
}
.content{
    justify-content: center;
    text-align: center;
}
th{
    color: aliceblue;
    font-family: italic;
}
h1{
    color: whitesmoke;
    font-style: oblique;
    background-color: var(--secondary-color);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 8px;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}
thead{
    background-color: var(--primary-color--);
}
td{
    
    background-color: var(--table-content-bg-color--);
}
.center{
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: var(--background-color--);
}
a:hover{
    background-color: #2A4D69; /* Golden yellow */
    color: #ffffff; /* White text */
    transition: 0.3s ease-in-out;
    border-color: rgb(132, 10, 10);
    border-radius: var(--radius);
    border-width: 2px;
}
form{
    text-align: center;
    margin-top: 40px;
}
