<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Coffee</title>
    <link th:href="@{/static/style.css}" rel="stylesheet" />
</head>
<body>
<h1>Add a New Coffee</h1>


<form action="/add" method="post">

    <label>Name: <input type="text" name="name" ></label>

    <label for="coffeeType">Type</label>
<select name="coffeeType" id="coffeeType">
<option value="espresso">Espresso</option>
<option value="latte">Latte</option>
<option value="cappuccino">Cappuccino</option>
<option value="flat_white">Flat White</option>
<option value="iced_coffee">Iced Coffee</option>
<option value="cold_brew">Cold Brew</option>
<option value="americano">Americano</option>
<option value="macchiato">Macchiato</option>
<option value="mocha">Mocha</option>
<option value="affogato">Affogato</option>
</select>

    <label for="size" >size</label>
    <select name="size" id="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select>

    <label>Price: <input type="number" step="0.01" name="price" ></label>
    
<label for="roastLevel">roastLevel:</label>
<select name="roastLevel" id="roastLevel">
<option value="light">Light</option>
<option value="medium">Medium</option>
<option value="dark">Dark</option>
</select>

    <label>Origin: 
        <input type="text" name="origin" ></label>
    <label>
        <label for="isDecaf">isDecaf</label>
        <input type="radio" name="isDecaf" value="true">True</input>
        <input type="radio" name="isDecaf" value="false">False</input>
    </label>
    <label>Stock: <input type="number" name="stock" ></label>
    <label>Flavor Notes (comma-separated): <input type="text" name="flavorNotes"></label>
    <label>Brew Method: <input type="text" name="brewMethod" ></label>
    <button type="submit">Add Coffee</button>
</form>

<a href="/">Back to List</a>

</body>
</html>
