<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>New Coffee</title>
<link th:href="@{/css/style.css}" rel="stylesheet"> 
</head>
<body>

<h1>Add New Coffee</h1>

<form action="/save" method="post" >

<label for="name">Name:</label>
<input type="text" id="name" th:field="*{name}" >
<p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

<label for="type">Type:</label>
<input type="text" id="type" th:field="*{type}" >

<label for="size">Size:</label>
<input type="text" id="size" th:field="*{size}" >

<label for="price">Price:</label>
<input type="number" id="price"th:field="*{price}" step="0.01" >

<label for="roastLevel">Roast Level:</label>
<input type="text" id="roastLevel" th:field="*{roastLevel}" >

<label for="origin">Origin:</label>
<input type="text" id="origin" th:field="*{origin}" >

<label for="isDecaf">Decaf:</label>
<select id="isDecaf" name="isDecaf" >
    <option value="true">Yes</option>
    <option value="false">No</option>
</select>

<label for="stock">Stock:</label>
<input type="number" id="stock" th:field="*{stock}" >

<label for="flavorNotes">Flavor Notes:</label>
<input type="text" id="flavorNotes" th:field="*{flavorNotes}">

<label for="brewMethod">Brew Method:</label>
<input type="text" id="brewMethod" th:field="*{brewMethod}" >

<button type="submit">Add Coffee</button>
</form>

<a href="/">Back to List</a>

</body>
</html>